.botaoNavbarAdote {
	color: #0292c9;
}

#banneradote{
    background-color: #0292c9;
    color: white;
    width: 100%;
    text-align: center;
    top: 80px;
    padding: 20px 0px;
    position: absolute;
}

main{
    display: flex;
}

#filtro {
    width: 200px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 3%;
    border: 1px dashed #0292C9;
    border-radius: 15px;
    display: block;
}

#perfis{
    width: 1000px;
    margin-top: 2%;
    display: flex;
    gap: 0px 80px;
    flex-wrap: wrap;
}

#perfis > div{
    margin-top: 7.5%;
    width: 250px;
    height: 240px;
    background-color: #E4EDFF;
    border: 1px solid #ddd;
    border-radius: 25px;
    align-items: center;
    text-align: center;
}

#perfis >div:hover{
    box-shadow: #0292C9 10px 10px 50px;
    transition: 0.8s;
}


#perfis img {
    width: 150px;
    border-radius: 15px;
    
}
#perfis h3{
	color: #FBB540;
	font-size: 20px;
	font-family: Lexend Deca;
	font-weight: 400;
	word-wrap: break-word;
}


#perfis p{
	color: #0292C9;
	font-size: 12px;
	font-family: Montserrat;
	font-weight: 400;
    word-wrap: break-word;

}

#perfis button {
	color: white;
    width: 100px;
    height: 25px;  
	background: #FBB540; 
	border-radius: 5px;
	font-size: 14px;
	font-family: Montserrat;
    margin-top: 10px;

}

#perfis button:hover{
	background: white;
	color: #FBB540;
    cursor: pointer;
}

.input-icon{
    background-image: url(../Assets/Images/adoteImages/Search_Icon.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    width: 150px;
}

#filtro select {
    width: 150px;
}

.pagina{
    justify-content: center;
    align-items: end;
    text-align: end;
    display: flex;
    width: 100px;
}
