@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	font-size: 16px;
}

header {
	justify-content: center;
}

.botaoNavbarCadastro {
	font-weight: bold;
	margin: 15px;
	position: absolute;
  	left: 10px; 
  	top: 10px; 
}

/* --------------------------------------------------------------------- */

main {
	margin-top: 120px;
}

/* --------------------------------------------------------------------- */

footer {
}
