@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

#header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	background-color: #e4edff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
}

.containerLogoTitulo {
	display: flex;
	align-items: center;
	margin-left: 85px;
}

#header h2 {
	font-family: "Leckerli One", cursive;
	margin-left: 15px;
	font-size: 32px;
	color: #0292c9;
}

.logoSite {
	width: 112px;
}

#menu {
	display: flex;
	list-style: none;
	margin-right: 85px;
}

#menu a {
	margin-left: 50px;
	text-decoration: none;
	color: #0292c9;
	font-weight: bold;
}

#btn-mobile {
	display: none;
}

#menu a:hover,
#menu a:active {
	color: #fab440;
}

.botaoNavbarCadastro {
	background-color: #0292c9;
	color: #ffffff !important;
	padding: 12px;
	border-radius: 5px;
}

.botaoNavbarCadastro:hover {
	color: #ffffff;
	background-color: #34aede;
}

/* --------------------------------------------------------------------- */

main {
	margin-top: 80px;
}

/* --------------------------------------------------------------------- */

.containerPatinhas {
	display: flex;
	justify-content: space-between;
	margin: 50px 200px 0 200px;
	position: relative;
	top: 10px;
}

.patinhaDogEsquerda {
	position: relative;
	top: -30px;
	margin-right: 20px;
}

.patinhaCatDireita {
	position: relative;
	top: -30px;
	margin-left: 20px;
}

.containerCatDogLinks {
	background-color: #0292c9;
	color: #e4edff;
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.containerFooterInfos {
	padding: 30px 0 20px 0;
}

.containerLinks {
	display: flex;
	margin-bottom: 20px;
}

.containerLinks div {
	width: auto;
	display: flex;
	flex-direction: column;
	margin: 0 50px 0 50px;
}

.containerLinks a {
	text-decoration: none;
	color: #e4edff;
	margin-top: 20px;
}

.containerLinks h3 {
	text-align: center;
	text-transform: uppercase;
}

.dogImageFooter {
	width: 243px;
	height: 170px;
}

.catImageFooter {
	width: 243px;
	height: 170px;
}

footer p {
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #aba9a9;
}



/* RESPONSIVIDADE DO SITE */

@media screen and (min-width: 769px) and (max-width: 1230px) {
	#header {
		display: flex;
		flex-direction: column;
		height: 150px;
	}
	.containerLogoTitulo {
		margin-top: 15px;
	}
	#nav {
		margin-bottom: 20px;
	}

	.dogImageFooter,
	.catImageFooter {
		display: none;
	}
	.containerCatDogLinks {
		justify-content: center;
	}

	.containerPatinhas {
		margin: 50px 50px 0 50px;
	}
}

@media screen and (max-width: 768px) {
	.containerLogoTitulo {
		margin-left: 25px;
	}

	#btn-mobile {
		display: block;
	}

	#menu {
		display: block;
		position: absolute;
		width: 100%;
		top: 80px;
		right: 0px;
		background-color: #0292c9;
		z-index: 1000;

		margin: 0;
		padding: 0;

		height: 0;
		transition: 0.6s;
		visibility: hidden;
		overflow-y: hidden;
	}

	#menu li {
		padding: 1rem 0;
		margin: 0 1rem;
		border-bottom: 2px solid #fafbfe45;
	}
	#menu a {
		color: #ffffff;
		padding: 12px !important;
	}

	#menu a:hover {
		background-color: #e4edff !important;
		color: #0292c9 !important;
		border-radius: 5px !important;
	}

	#nav.active #menu {
		height: calc(100vh - 80px);
		visibility: visible;
		overflow-y: auto;
	}

	#btn-mobile {
		display: flex;
		padding: 8px 2px;
		margin-right: 20px;
		border: none;
		background: none;
		cursor: pointer;
	}

	#hamburger {
		width: 20px;
		border-top: 3px solid;
		color: #0292c9;
	}

	#hamburger::after,
	#hamburger::before {
		content: "";
		display: block;
		width: 20px;
		height: 3px;
		background: currentColor;
		margin-top: 5px;
		transition: 0.3s;
		position: relative;
	}

	#nav.active #hamburger {
		border-top-color: transparent;
	}

	#nav.active #hamburger::before {
		transform: rotate(135deg);
	}

	#nav.active #hamburger::after {
		transform: rotate(-135deg);
		top: -8px;
	}

	.botaoNavbarCadastro {
		background-color: #fafbfe !important;
		color: #0292c9 !important;
	}

	.botaoNavbarCadastro:hover {
		background-color: #fab440 !important;
		color: #e4edff !important;
		padding: 12px !important;
		border-radius: 5px !important;
	}

	.dogImageFooter,
	.catImageFooter {
		display: none;
	}
	.containerCatDogLinks {
		justify-content: center;
	}

	.containerPatinhas {
		margin: 50px 50px 0 50px;
	}

	.containerLinks {
		flex-direction: column;
		text-align: left;
	}

	.containerLinks div {
		margin-top: 20px;
	}

	.containerLinks a {
		margin: 8px 10px;
	}

	.containerLinks h3 {
		text-align: left;
		margin-bottom: 15px;
	}

	.containerFooterInfos p {
		margin: 0 50px !important;
	}
}

@media screen and (max-width: 500px) {
	.containerPatinhas {
		display: none;
	}
}