@import url('https://fonts.googleapis.com/css2?family=Inter&family=Leckerli+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Leckerli+One&display=swap');

.botaoNavbarHome {
	color: #0292c9;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-texto-principal {
	font-family: 'Leckerli One', cursive;
	color: #0292c9;
	font-size: 5rem;
	line-height: 1;
}

.container-texto-secundario {
	font-family: 'Inter', sans-serif;
	color: #5D636A;
	font-size: 20px;
	margin-top: 1rem;
	font-weight: 600;
}

.botao-principal {
	background-color: #0292c9;
	margin-top: 2rem;
	border-radius: 5rem;
	border: none;
	cursor: pointer;
}

.conteudo {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
}

.conteudo img {
	margin: 10px 10px;
}

.botao-principal:hover {
	background-color: #59b7e1;
}

.container-cachorro {
	margin-top: 5%;
	margin-left: 3rem;
	margin-bottom: 1%;
}

.container-gato {
	margin-bottom: auto;
	margin-left: 1rem;
	padding-top: 3%;
}

.container-missao {
	background-color: #E4EDFF;
}

.container-mensagem {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

.container-missao-cachorro {
	padding-top: 8%;
}

.mesagem {
	font-family: 'Inter', sans-serif;
	color: #5D636A;
	font-size: 22px;
	font-weight: bold;
	padding: 8% 1% 0 1%;
	text-align: center;	
}

.container-missao-gato {
	padding-top: 8%;
}

.container-tarefas {
	display: flex;
	justify-content: center;
}

.tarefas {
	font-family: 'Inter', sans-serif;
	color: #5D636A;
	font-size: 50px;
	font-weight: bold;
	margin: 10% 0 3% 0;
}

.tarefas-texto {
	font-family: 'Inter', sans-serif;
	color: #5D636A;
	font-size: 20px;
	margin-top: 1rem;
	font-weight: 600;
	margin-bottom: 5%;
}

.container-tarefas-texto {
	font-family: 'Inter', sans-serif;
	color: #5D636A;
	font-size: 16px;
	font-weight: 400;
	margin: 2% 0 3% 0;
	text-align: left;
	display: flex;
	align-items: center;	
}

.container-tarefas-texto img {
	margin-right: 2rem;
}

.container-tarefas-cachorros {
	margin-top: 5%;
	margin-left: 1%;
}

.container-adotar {
	font-family: 'Inter', sans-serif;
	color: #5D636A;
	font-size: 50px;
	font-weight: bold;
	margin: 7% 0 3% 0;
}

.adotar {
	display: flex;
	align-items: center;
	text-align: center;
	padding-bottom: 5%;
	justify-content: center;
}

.imagem-com-texto-cao {
	margin-right: 1rem;
	position: relative;
}

.imagem-com-texto-gato {
	position: relative;
}

.texto-animais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'inter', sans-serif;
	font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
}

.imagem-adotar {
    opacity: 1;
    transition: 400ms;
    box-shadow: 7px 7px 7px 0 #688a7c;
}

.imagem-adotar:hover {
    opacity: 0.6;
}

.containerPatinhas {
	margin-top: 0;
}

@media (min-width:769px) and ( max-width: 1230px) {
	main {
		margin-top: 150px !important;
	}
}