#menu .botaoNavbarAdote{
    color: #FBB540;
}


main {
    margin-top: 80px; 
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
}

.banneradote {
    background-color: #0292c9;
    color: white;
    padding: 1.5%;
    text-align: center;
    margin: 0;
    width: 100%;
    box-sizing: border-box; 
}

.banneradote h2 {
    margin: 0 auto;
    max-width: 600px; 
}

.filtro {
    display: block;
    flex-direction: column;
    border: 1px dashed;
    border-radius: 10px;
    border-color: #0292C9;
    margin: 30px 10px;
    padding: 20px 40px;
    text-align: left;
}

.perfis {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
    flex-wrap: wrap;
    padding: 30px 10px;
}

.perfis > div {
    margin-bottom: 20px;
    background-color: #CFEFFC;
    border-radius: 20px;
    padding: 15px 30px;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.perfis > div:hover {
    transform: scale(1.05);
}

.perfis h3{
	color: #FBB540;
	font-size: 20px;
	font-family: Lexend Deca;
	font-weight: 400;
	word-wrap: break-word;
}

.perfis p{
	color: #0292C9;
	font-size: 12px;
	font-family: Montserrat;
	font-weight: 400;
	word-wrap: break-word;
}

.perfis button {
    color: white;
    border: white;
	width: 80px;  
	background: #FBB540; 
	border-radius: 5px; 
	font-size: 14px;
	font-family: Montserrat;
	font-weight: 400px;
	word-wrap: break-word;
    cursor: pointer;
}

.perfis button:hover{
    transition: 0.5s;
	background: white;
	color: #FBB540;
}

.perfis img {
    width: 200px;
	border-radius: 10px;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
}

#modal.active {
    display: block;
}

.conteudo-modal{
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: #CFEFFC;
    border-radius: 15px;
}

.cabecalho-modal{
    padding: 1px 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 1px;
}

.cabecalho-modal h1{
    color: #FBB540;
	font-size: 20px;
	font-family: Lexend Deca;
	font-weight: 400;

}

.corpo-modal{
    padding: 1px 8px 8px 8px;
    color: #0292C9;
	font-size: 12px;
	font-family: Montserrat;
	font-weight: 400;
}

.rodape-modal{
    border-top: solid white 1px;
    padding: 8px;
}


.input-icon{
    background-image: url(../Assets/Images/adoteImages/Search_Icon.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
    width: 153px;
}


@media (min-width: 769px) and (max-width: 1230px) {
    main {
        margin-top: 150px !important;
    }

    section {
        flex-direction: column;
    }

    .perfis > div {
        width: calc(50% - 20px);
    }
}


@media (max-width: 768px) {

    section {
        flex-direction: column;
    }

    .filtro {
        width: calc(100% - 20px);
        margin: 10px;
    }

    .perfis > div {
        width: calc(100% - 20px);
    }
}

