@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-size: 16px;
}

/* ------------------------- HEADER PÁGINA CADASTRO ------------------------------ */

#header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	background-color: #e4edff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
}

.containerLogoTitulo {
	display: flex;
	align-items: center;
	margin-left: 85px;
}

#header h2 {
	font-family: "Leckerli One", cursive;
	margin-left: 15px;
	font-size: 32px;
	color: #0292c9;
}

.logoSite {
	width: 112px;
}

#menu {
	display: flex;
	list-style: none;
	margin-right: 85px;
}

.botaoNavbarRetornar {
	background-color: #0292c9;
	color: #ffffff !important;
	padding: 12px;
	border-radius: 5px;
	margin-left: 50px;
	text-decoration: none;
	font-weight: bold;
}

.botaoNavbarRetornar:hover {
	color: #ffffff;
	background-color: #34aede;
}

/* --------------------------------------------------------------------- */

main {
	width: 80%;
	margin: auto;
	margin-top: 120px;
	font-family: "Inter", sans-serif;
}

.box-principal-pagina {
	border: 2px dashed #D1D1D1;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	align-items: center;
}

.box-com-borda-pontilhada {
	border: 2px dashed #D1D1D1;
 	padding: 10px;
	background-color: #E4EDFF41;
	border-radius: 15px;
	margin-bottom: 20px;
}

#campo-doar, #campo-adotar {
	display: none;
}

#titulo {
	font-size: 32px;
	color: #0292c9;
	text-align: center;
	margin-bottom: 10px;
}

.titulo-interno {
	font-size: 20px;
	color: #0292c9;
	padding: 20px;
	text-align: center;
}

.desejo-adotar {
	text-align: center;
}

.desejo-adotar p {
	display: inline-block;
	justify-content: center;
	border-radius: 5px;
	text-align: center;
}

.desejo-adotar #titulo-marcacao {
	background-color: #0292c950;
	color: #ffffff;
	display: inline-block;
	padding: 8px;
	border-radius: 5px;
	justify-content: center;
	font-size: 18px;
}

input[type="radio"], input[type="checkbox"] {
	vertical-align: middle; 
	margin-left: 20px;
	display: none;
}

input[type="radio"] + label:before, input[type="checkbox"] + label:before {
	border: 1px solid #CED4DA;
	background-color: #fff;
    content: "\00a0";
    display: inline-block;
    font: 20px/2em sans-serif;
    height: 36px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: middle;
    width: 36px;
    border-radius:4px;
}

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
	background: #0292c9;
    color: #FFF;
    content: "\2713";
    text-align: center;
}

.linha {
	display: flex;  
	margin-top: 10px;
	justify-content: left;
}

.linha label{
	display: block;    
	margin-top: 5px;
}

.linha-caixa {
	display: inline-block;  
	margin-top: 10px;
}

.linha-caixa label{
	display: block;    
	margin-top: 5px;
}

.grupo {
    margin: 0px 20px;
}

#nome, #end, #email, #senha, #complemento, #nomepet, #idadepet, #peso, #pelo, #cpf, #telefone, #dia, #cidade, #estado {
	width: 300px;
	border: 1px solid #CED4DA;
    border-radius: 5px; 
	height: 36px;
	margin-bottom: 10px;
}

input {
	text-align: center;
}

input::placeholder{
	text-align: center;
}

.box-imagem {
	background-color: white;
    padding: 1px; 
    border: 1px solid #CED4DA;
	border-radius: 5px; 
    display: inline-block; 
    justify-content: left;
    width: 300px;
    height: 36px;
}

.botao-foto-pet {
	background-color: #FBB540; 
    color: white; 
    border-radius: 5px;
    font-size: 17px; 
    cursor: pointer; 
	padding: 2px 3px;
	text-align: center;
	margin-bottom: auto;
	width: 100px;
}

#botao {
	padding: 15px;
	border: none;
	cursor: pointer;
	background-color: #0292C9; 
    color: white; 
    margin: 10px;
	width: 200px;
	margin: 10px auto;
    display: block;
	border-radius: 4px;
}


/* ------------------------- FOOTER PÁGINA CADASTRO ------------------------------ */

.containerPatinhas {
	display: flex;
	justify-content: space-between;
	margin: 50px 200px 0 200px;
	position: relative;
	top: 10px;
}

.patinhaDogEsquerda {
	position: relative;
	top: -30px;
	margin-right: 20px;
}

.patinhaCatDireita {
	position: relative;
	top: -30px;
	margin-left: 20px;
}

.containerCatDogLinks {
	background-color: #0292c9;
	color: #e4edff;
	display: flex;
	justify-content: center;
}

.containerFooterInfos {
	padding: 30px 0 20px 0;
	text-align: center;
}

.dogImageFooter, .catImageFooter {
	display: none;
}

@media screen and (max-width: 768px) {
	.containerPatinhas { 
		display: none !important;
	}
	
	.containerCatDogLinks {
		margin-top: 35px;
	}
}


/* --------------------------------------------------------------------- */
@media screen and (max-width: 426px) {
	#header {
		height: 130px;
	}

	.containerLogoTitulo {
		margin: auto;
		flex-direction: column;
		justify-content: center;
	}

	#header h2 {
		font-family: "Leckerli One", cursive;
		margin-left: 10px;
		font-size: 28px;
		color: #0292c9;
	}

	.logoSite {
		scale: 0.7;
	}

	main {
		margin-top: 150px !important;
	}
}

@media screen and (min-width: 200px) and (max-width: 600px) { /*celular*/

	#menu {
		margin-right: 30px;
	}

	.containerLogoTitulo {
		margin-left: 25px;
	}
	
	main {
		width: 100%;
		margin-top: 150px !important;
		margin: 0;
	}

	.linha {
		display: inline-block;  
	}

}

@media screen and (min-width: 600px) and (max-width: 768px) { /*tablet*/
	main {
		width: 100%;
		margin-top: 110px !important;
		margin: 0;
	}

	.linha {
		display: inline-block;  
	}

}
